<%-
  @locale = raw I18n.locale.to_json
  @body_classes ||= []
  @body_classes << "context-#{@context.asset_string}" if @context
  yield :pre_html

-%><!DOCTYPE html>
<!--[if gte IE 9 ]><html class="ie ie9 scripts-not-loaded" lang=<%= @locale %>> <![endif]-->
<!--[if !(IE)]><!--> <html class="not-ie scripts-not-loaded" lang=<%= @locale %>> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= (yield :page_title).presence || @page_title || t('default_page_title', "Canvas LMS") %></title>
  <!--[if lte IE 8]> <meta http-equiv=refresh content="0; URL=/ie-8-is-not-supported.html" /> <![endif]-->
  <link type="text/css" rel="stylesheet" media="all" href="https://use.typekit.net/c/c4d5b6/1w;kulturista-web,2,ZPV:V:i4,ZPZ:V:i7,ZPP:V:n1,ZPR:V:n3,ZvW:V:n4,ZPW:V:n6,ZPY:V:n7;proxima-nova,2,gbk:V:i3,gbm:V:i4,gbt:V:i7,gbj:V:n3,gbl:V:n4,gbs:V:n7/l?3bb2a6e53c9684ffdc9a99f61d5b2a62d862a545ba27340c777c33ff8c652d3b5441e13294f708d0124ae263e6519b755dc992d0eb5c7d2195aedc4ff76f20f54249b30c05b33b083edbce745f01ba61fb6b4b3cf6b38e8447934ddc54825df3878ea6f82ad3d4dda557998ad1e4b36ad74b4f21981c161de1f81bf408773e508931dbba1896159d4850481c3f17afadeb17977cb5e315a35de7be8c42269d58e3a38e8f42769c9ccc8f5a6c7c37989a9263747d5574633df6669c104410bbeae67da6d48db959c3d61a451cebb02fb2f48398e6f0f389a1113e80a5daed971cb101b7fbd0fb3fb4e0c62a4b19e6998c954676172c2fccb19ca1d6f9d01e38643bc66d35204f4617aa1d6ee265ef0c617d34bd1de4ef76afef126cc041e8f02a3eb283071a7e31c798d246b9bf8e6f197e6014">
  <link rel="shortcut icon" href="http://hsf.net/favicon.ico">
  <%#= favicon_link_tag(favicon) %>
  <%= favicon_link_tag(brand_variable('ic-brand-apple-touch-icon'), rel: 'apple-touch-icon', type: nil) %>

  <%= yield :auto_discovery %>
  <%= yield :head %>
  <%= yield :meta_tags %>
  <%= include_custom_meta_tags %>
  <% if use_new_styles? %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <% end %>
  <%= include_css_bundles %>
  <%= yield :stylesheets %>
  <%= include_account_css %>
  <script>
    // listen for any clicks on links that have href="#" and queue them to be fired on dom ready.
      function _earlyClick(e){
        var cur = e.target || e.srcElement;
        while ( cur && cur.ownerDocument ) {
          if ( cur.getAttribute('href') == '#' ) {
            e.preventDefault();
            _earlyClick.clicks = _earlyClick.clicks || [];
            _earlyClick.clicks.push(cur);
            break;
          }
          cur = cur.parentNode;
        }
      }
      document.addEventListener('click', _earlyClick);
  </script>
</head>
