<html>
<body style="background-color: #FFFFFF;">
  <center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="641">
      <tbody><tr>
        <td align="center" valign="top">
          
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
              <td valign="top">
                              
                
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td valign="top" width="310" style="padding-right:10px">
                      <div style="text-align:right">
                      </div>
                    </td>
                  </tr>
                </tbody></table>
                
                
                
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td valign="bottom" width="70%">
                      <a href="<%= root_url(host: HostUrl.default_host) %>">
                          <img src="<%= "#{root_url(host: HostUrl.default_host)}/hsf-logo.png" %>" width="auto" height="120" class="CToWUd">
                      </a>
                    </td>
                    <td valign="bottom">
                      <a href="http://mandrillapp.com/track/click/15772783/www.facebook.com?p=eyJzIjoicUFBdTh5OWtob1JDdjMxajJfdDdvdlRpNmdJIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5mYWNlYm9vay5jb21cXFwvSGlzcGFuaWNTY2hvbGFyc2hpcEZ1bmRcIixcImlkXCI6XCI5YzAxYTQyYjdiNDI0OTU4YmY0ZDRkMTZhNDYzZGE4NlwiLFwidXJsX2lkc1wiOltcIjdlMTI2ZjZlMjhkODIzYzYwYmJiNjlkMmU1NzcxNGY0ZTEwY2M3OWVcIl19In0" target="_blank">
                        <img src="https://ci6.googleusercontent.com/proxy/u8Mh2uswYnYIOQduWRH3Lz80UIpMaEqpfgx2F7mO-K8xsuyjZMKBj6lMIQsSziSEJkNKslTNsFqyOnMV2dnx84FWCBtGCPHBz6JaauZ06JCq7GTklWcxs5zqI9ICyZx4hAiU=s0-d-e1-ft#http://hsf-public-assets.s3.amazonaws.com/mailchimp/social-icons/facebook.png" alt="Facebook" class="CToWUd">
                      </a>
                    </td>
                    <td valign="bottom">
                      <a href="http://mandrillapp.com/track/click/15772783/twitter.com?p=eyJzIjoiRkdzRnE4V010Q2VVR3loRzdQMjNwZGUweVU4IiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3R3aXR0ZXIuY29tXFxcL0hTRk5ld3NcIixcImlkXCI6XCI5YzAxYTQyYjdiNDI0OTU4YmY0ZDRkMTZhNDYzZGE4NlwiLFwidXJsX2lkc1wiOltcImY2ZDBhNWViOWY5MzIzZGQ3OTdkZGUxYzMxOTc2NjEyNGI3ZTAyNzNcIl19In0" target="_blank">
                        <img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/social-icons/twitter.png" alt="Twitter" class="CToWUd">
                      </a>
                    </td>
                    <td valign="bottom">
                      <a href="http://mandrillapp.com/track/click/15772783/www.linkedin.com?p=eyJzIjoiZW9LLTlBS2RlZGFpWTJfbFhiTF9feTJweEhrIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LmxpbmtlZGluLmNvbVxcXC9jb21wYW55XFxcL2hpc3BhbmljLXNjaG9sYXJzaGlwLWZ1bmRcIixcImlkXCI6XCI5YzAxYTQyYjdiNDI0OTU4YmY0ZDRkMTZhNDYzZGE4NlwiLFwidXJsX2lkc1wiOltcImFkNjIyNWFmZmVlOTYxMTQ3ZDhlZWQ5Mjc4NDJjNzk1NzNjZWIwZjBcIl19In0" target="_blank">
                        <img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/social-icons/linkedin.png" alt="LinkedIn" class="CToWUd">
                      </a>
                    </td>
                    <td valign="bottom">
                      <a href="http://mandrillapp.com/track/click/15772783/www.youtube.com?p=eyJzIjoiUDlYUzNkR2VBOTduc2pJQV9FMU9BMzFON3dVIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LnlvdXR1YmUuY29tXFxcL3VzZXJcXFwvSFNGdmlkZW9zXCIsXCJpZFwiOlwiOWMwMWE0MmI3YjQyNDk1OGJmNGQ0ZDE2YTQ2M2RhODZcIixcInVybF9pZHNcIjpbXCJmMDQwOTM0NDJjZDdkNWI0ZjFlOGQ0MDdiYmFjNzk1YWFiNGNmNTE3XCJdfSJ9" target="_blank">
                        <img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/social-icons/youtube.png" alt="YouTube" class="CToWUd">
                      </a>
                    </td>
                    <td valign="bottom">
                      <a href="http://mandrillapp.com/track/click/15772783/instagram.com?p=eyJzIjoiZnp4eklSWDg1UU1JUEl5cXpIM0Y4WWNpQjFRIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvaW5zdGFncmFtLmNvbVxcXC9oc2ZwaG90b3NcIixcImlkXCI6XCI5YzAxYTQyYjdiNDI0OTU4YmY0ZDRkMTZhNDYzZGE4NlwiLFwidXJsX2lkc1wiOltcIjg4NGQwZGE4NTg2MmIwYWRlODE1MTEyMjYwNzVkNGQ3ZmVmMTEyZTNcIl19In0" target="_blank">
                        <img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/social-icons/instagram.png" alt="Instagram" class="CToWUd">
                      </a>
                    </td>
                  </tr>
                </tbody></table>
                
              </td>
            </tr>
          </tbody></table>
          
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
              <td align="center" valign="top">
                
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td valign="top">
                              
                      
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
                          <td valign="top">
                            <div style="padding:20px">
                              <%= yield %>
                            </div>
                          </td>
                        </tr>
                      </tbody></table>
                      
                    </td>
                  </tr>
                </tbody></table>
                
              </td>
            </tr>
          </tbody></table>
          
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
              <td valign="top">

                
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td valign="middle" style="text-align:center">
                      <a href="http://mandrillapp.com/track/click/15772783/my.hsf.net?p=eyJzIjoiYTlIZzUxaUdNNlc1aWlZeFljMVo5QkVucS1nIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvbXkuaHNmLm5ldFwiLFwiaWRcIjpcIjljMDFhNDJiN2I0MjQ5NThiZjRkNGQxNmE0NjNkYTg2XCIsXCJ1cmxfaWRzXCI6W1wiZDg5ZmIwNmZlNTY4MTA1MWU5Y2NhOTBhYzg1YTUxODFiMTUxMGZkNVwiXX0ifQ" target="_blank"><img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/myhsf.png" alt="MyHSF" class="CToWUd"></a>
                    </td>
                    <td valign="middle" style="text-align:center">
                      <a href="http://mandrillapp.com/track/click/15772783/hsfinder.net?p=eyJzIjoiUkljeGpLcnRPOEJ6N0lQTWMxZnNkUnJRdEtRIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvaHNmaW5kZXIubmV0XCIsXCJpZFwiOlwiOWMwMWE0MmI3YjQyNDk1OGJmNGQ0ZDE2YTQ2M2RhODZcIixcInVybF9pZHNcIjpbXCIxZmEyMGQ0ZDM2MjRjNWZkMjZjN2EyZThmNzBiZTJmYzg0MDViNjg4XCJdfSJ9" target="_blank"><img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/hsfinder.png" alt="HSFinder" class="CToWUd"></a>
                    </td>
                    <td valign="middle" style="text-align:center">
                      <a href="http://mandrillapp.com/track/click/15772783/hsf.net?p=eyJzIjoiTzFtT0lKaG9FS2pPaE5EZExHSGNEWXE4TVo4IiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2hzZi5uZXRcXFwvZW5cXFwvZXZlbnRzXCIsXCJpZFwiOlwiOWMwMWE0MmI3YjQyNDk1OGJmNGQ0ZDE2YTQ2M2RhODZcIixcInVybF9pZHNcIjpbXCJhNGZmYTI2NDA4M2MxY2M4YThjNjEzN2IzNTYyMmYxZmU2ZTM5MmI5XCJdfSJ9" target="_blank"><img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/events.png" alt="HSF Events" class="CToWUd"></a>
                    </td>
                    <td valign="middle" style="text-align:center">
                      <a href="http://mandrillapp.com/track/click/15772783/hsf.net?p=eyJzIjoiYVVjdlR0Q0FRMjFYdm0zb0kwZVpkRnN1SzhvIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2hzZi5uZXRcXFwvZW5cXFwvcmVzb3VyY2VzXFxcL2Zvci1hbHVtbmlcXFwvXCIsXCJpZFwiOlwiOWMwMWE0MmI3YjQyNDk1OGJmNGQ0ZDE2YTQ2M2RhODZcIixcInVybF9pZHNcIjpbXCJhZDUzYTk5OGE1YmM1NGE2YzY5OTk5NDllN2M0ODg1Y2U5ODVlYmU4XCJdfSJ9" target="_blank"><img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/involved.png" alt="Get Involved" class="CToWUd"></a>
                    </td>
                    <td valign="middle" style="padding:12px 0;text-align:center;width:25%">
                      <a href="http://mandrillapp.com/track/click/15772783/my.hsf.net?p=eyJzIjoiTnFaaGFXejZLOXdwV1JLTGRQRzZwSHpTamxNIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL215LmhzZi5uZXRcXFwvZW5cXFwvZG9uYXRpb25zXFxcL2RvbmF0ZSNcXFwvZG9uYXRlXCIsXCJpZFwiOlwiOWMwMWE0MmI3YjQyNDk1OGJmNGQ0ZDE2YTQ2M2RhODZcIixcInVybF9pZHNcIjpbXCJmNjAxNDFiZGU0ZTRjMzc5MWUxNTQyZjcyMGNhNTFlNTc4NDEyY2NkXCJdfSJ9" target="_blank"><img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/donate-button.png" alt="Donate Today" class="CToWUd"></a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5">
                      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-top:1px solid #bababa">
                        <tbody><tr>
                          <td colspan="3">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tbody><tr>
                                <td valign="middle" style="text-align:center">
                                  <a href="http://mandrillapp.com/track/click/15772783/www.facebook.com?p=eyJzIjoiQmY5NHdVQjVUY0lTdThVSHc0eFZUenJZTUxNIiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LmZhY2Vib29rLmNvbVxcXC9zaGFyZXJcXFwvc2hhcmVyLnBocD91PSp8VVJMOkFSQ0hJVkVfTElOS19TSE9SVHwqXCIsXCJpZFwiOlwiOWMwMWE0MmI3YjQyNDk1OGJmNGQ0ZDE2YTQ2M2RhODZcIixcInVybF9pZHNcIjpbXCJlNGQ4MzYxNmU1MDllYTE2NWZmNzI3YmM1MDJjMDgzYmY1ZDA0YTNlXCJdfSJ9" target="_blank">
                                    <img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/share-fb.png" style="display:block" alt="Share on Facebook" class="CToWUd">
                                  </a>
                                </td>
                                <td valign="middle" style="text-align:center">
                                  <a href="http://mandrillapp.com/track/click/15772783/twitter.com?p=eyJzIjoiekFUZ3pKS3J3VTQ2dURKcmhTTUYtdUxTSmp3IiwidiI6MSwicCI6IntcInVcIjoxNTc3Mjc4MyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvdHdpdHRlci5jb21cXFwvaW50ZW50XFxcL3R3ZWV0P3RleHQ9KnxVUkw6TUNfU1VCSkVDVHwqOiAqfFVSTDpBUkNISVZFX0xJTktfU0hPUlR8KlwiLFwiaWRcIjpcIjljMDFhNDJiN2I0MjQ5NThiZjRkNGQxNmE0NjNkYTg2XCIsXCJ1cmxfaWRzXCI6W1wiMTlhNGNkNWFhMDgwMzJmNGM0NmI1Y2Y0OWYzYjUyMmMzMWEwZjE0NVwiXX0ifQ" target="_blank">
                                    <img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/tweet.png" style="display:block" alt="Tweet" class="CToWUd">
                                  </a>
                                </td>
                                <td valign="middle" style="text-align:center">
                                  <a>
                                    <img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/email-forward.png" style="display:block" alt="Forward to a Friend" class="CToWUd">
                                  </a>
                                </td>
                              </tr>
                            </tbody></table>

                          </td>

                          <td valign="middle" style="color:#4e4e4e;font-size:12px;font-family:Helvetica,Arial;padding:12px 0 5px 15px">
                            <img src="http://hsf-public-assets.s3.amazonaws.com/mailchimp/phonenumber.png" alt="1-877-HSF-INFO" style="margin-bottom:5px" class="CToWUd"><br>
                                                          <strong>Hispanic Scholarship Fund</strong><br>
                            1411 W. 190th Street, Suite 700<br>
                            Gardena, CA 90248
                          </td>
                        </tr>
                        <tr>
                          <td style="padding: 0; border-collapse: collapse;">
                            <table cellpadding="0" cellspacing="0" align="center" border="0">
                              <tr style="font-size: 11px; color: #a8b9c6; background-color: #ffffff; font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif';" valign="top">
                                <td width="375" align="center"><a href="<%= communication_profile_url(host: HostUrl.default_host) %>">
                                  <%= t 'click_to_preferences', "Update your notification settings" %></a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" width="370" colspan="5">
                      
                      </td>
                    </tr>
                  </tbody>
                  </table>
                  

                </td>
              </tr>
            </tbody></table>
            
            <br>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>
</html>
